<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/" class="logo-container">
      <img src="assets/images/logo-popcorn.png" alt="PopcornZone" class="logo">
      <img src="assets/images/popcorn-burst.png" alt="Pop" class="popcorn-burst">
    </a>
  </div>

  <div class="nav-center">
    <h1 class="site-title">POPCORN ZONE</h1>
  </div>

  <div class="nav-right">
    <ng-container *ngIf="(currentUser$ | async) as user; else guestMenu">
      <div class="user-info">
        <a routerLink="/my-reservations" class="nav-button btn-reservations">
           {{ user.firstName }}'s Reservations
        </a>

        <a *ngIf="user.role === 'admin'" routerLink="/admin-movies" class="nav-button btn-admin">
          Admin
        </a>

        <button (click)="onLogout()" class="nav-button btn-split-logout">
          LOGOUT
        </button>
      </div>
    </ng-container>

    <ng-template #guestMenu>
      <div class="auth-buttons">
        <a routerLink="/login" class="nav-button btn-login">LOGIN</a>
        <a routerLink="/register" class="nav-button btn-register">REGISTER</a>
      </div>
    </ng-template>
  </div>
</nav>