@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.text-3d {
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  font-size: 3.5rem;
  
  text-shadow: 
    -3px -3px 0 rgba(229, 9, 20, 0.7),
     3px  3px 0 rgba(0, 123, 255, 0.7);
}