/**
 * @author Bolat Tayfun
 * @version 12 Ianuarie 2026
 * Stiluri globale si configurarea fundalului cinematic
 */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    padding-top: 80px; 
    background-color: transparent; 
}

app-root {
    display: block;
    width: 100%;
}

.background-collage {
    position: fixed; 
    top: -2%;
    left: -2%;
    width: 104vw; 
    height: 104vh;
    overflow: hidden;
    z-index: -1; 
    background-color: #000;
}

.collage-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px) brightness(0.25);
}

.collage-grid img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.collage-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #000 100%);
}